<section class="block" id="skills">
    <div class="skills">
    
    <div class="scroller" data-animated="true" data-direction="right" data-speed="fast">
        <div class="scroller__inner">
            {% for item in skills %}
            <div class="scroller__item">
                <img src="{{item.image.url}}" alt="{{item.image.url}}">
            </div>                    
                
            {% endfor %}
            {% for item in skills %}
            <div class="scroller__item">
                <img src="{{item.image.url}}" alt="{{item.image.url}}">
            </div>                    
                
            {% endfor %}
            {% for item in skills %}
            <div class="scroller__item">
                <img src="{{item.image.url}}" alt="{{item.image.url}}">
            </div>                    
                
            {% endfor %}
            {% for item in skills %}
            <div class="scroller__item">
                <img src="{{item.image.url}}" alt="{{item.image.url}}">
            </div>                    
                
            {% endfor %}
        </div>
    </div>
    </div>
</section>